* {
    margin: 0;
    padding: 0;

}

body {
    background-color: gray;
    font-family: 'Roboto', sans-serif;

}

.container {
    max-width: 1000px;
    background-color: white;
    margin: 0 auto;


}

.diet {
    display: flex;
    padding-left: 20px;

}

.diet-theory {
    float: left;
    width: 80%;
    padding-top: 50px;
}

.orange-health {
    color: orange;
}

.theory {
    padding-top: 40px;
    padding-bottom: 40px;
}

.btn {

    background-image: linear-gradient(orange, red);
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;

}

.six-pack img {
    width: 50%;
    float: right;
    padding-top: 15px;
    padding-bottom: 20px;
}


/* About Me Start */

.About {
    padding-right: 20px;
    background-color: rgb(225, 243, 243);
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 1000px;

}

.lady {
    display: flex;
    padding: 50px;
    margin-top: 40px;
    background-color: rgb(225, 243, 243);
}

.fit-lady img {
    float: left;
    width: 50%;
}

.fit-lady-bio {
    float: left;
    padding: 60px;

}

.button {

    background-image: linear-gradient(orange, red);
    border-radius: 20px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;

}


/* About Me End */

.recipies {
    padding-top: 50px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.food {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80%;
    margin: 0 auto;
}

.food1 {
    border: 10px solid gray;
    border-radius: 20px;
    Box-shadow: 4px 5px 20px gray;
    padding: 20px;
}

.food1 img {
    float: left;
    width: 300px;
    height: 200px;
    padding: 20px;
}

.food2 {
    border: 10px solid gray;
    border-radius: 20px;
    margin-left: 20px;
    align-items: center;
    Box-shadow: 4px 5px 20px rgb(76, 67, 67);
    padding: 20px;
}

.food2 img {
    float: right;
    width: 300px;
    height: 200px;
    padding: 20px;
}

/* My recipie ended */


.viewers {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    box-shadow: 20px 20px 100px rgb(128, 133, 128);
    padding: 40px;

}

/* Viewers end */

/* Footer Start */

.foot {
    width: 100%;
    height: 100px;
    background-color: rgb(2, 2, 42);
    padding-top: 40px;
    text-align: center;

}

.fresh {
    color: gray;
}

.life {
    color: white;
}